<!-- SPDX-License-Identifier: GPL-2.0-only -->
<!-- SPDX-FileCopyrightText: 2026 Mono Technologies Inc. -->
<template data-package-navigation><ul data-verso-nav-rows class="flex flex-col gap-0.5">{{range .Rows}}{{template "verso-nav-row" .}}{{end}}</ul></template>
