<!-- SPDX-License-Identifier: GPL-2.0-only -->
<!-- SPDX-FileCopyrightText: 2026 Mono Technologies Inc. -->
{{template "verso-drawer-header" .Title}}
<div data-scroll="sand" class="verso-drawer-scrollbar min-h-0 flex-1 overflow-y-auto {{template "verso-drawer-inset"}} py-7">{{.Body}}</div>
